---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//

@charset "utf-8";


/* Default styles go here (explain the mobile-first approach) */



$spacing-unit:     30px;
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "post",
        "search"
;

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../img/welcome_card.jpg') bottom right 15% no-repeat #46B6AC;
}

/*
Material Design - Icons
*/

/* Material Design Lists - by Roko CB
 - https://www.google.com/design/spec/components/lists.html
 - http://stackoverflow.com/a/33312676/383904
*/

/*
Material Design - Icons
*/

[class^=bookie-logo-]{
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  /*background: #999 50% / cover;*/
  color: #fff;
}
.bookie-logo-24{
  width:  24px;
  height: 24px;
}
.bookie-logo-32{
  width:  32px;
  height: 32px;
}
.bookie-logo-40{
  width:  40px;
  height: 40px;
}

/*
Material Design - Lists
*/

ul.bookie-list{
  display: table;
  width: 100%;
  padding: 8px 0; /* 8 padding T/B */
  margin: 0;
  list-style: none;
}

ul.bookie-list li{
  display: table-row;
  height: 48px; /* that's actually min-height for rows */
  &:hover {
        background:$grey-color-light;
    }
}
ul.bookie-list li a > *{
  /* Align always to middle */
  height:48px;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color:  #333;
  box-sizing: border-box;
}

ul.bookie-list li a > *:first-child{
  /* Whoever is the first child it needs 16px left space */
  padding-left: 16px;
}
ul.bookie-list li a > *:last-child{
  /* Whoever is the last child it needs 16 right space */
  padding-right: 16px;
}

ul.bookie-list .bookie-list-link{
  /* Always left-align! Don't center icons */
  text-decoration: none !important; 
}

ul.bookie-list a .bookie-list-icon{
  /* Always left-align! Don't center icons */
  width: 72px; /* 72-16 but we already use box-sizing */
}
ul.bookie-list a .bookie-list-text{
  /*background: rgba(0,0,255,0.05);*/
}

ul.bookie-list a .bookie-list-text p{
  margin: 0 !important;  
}


ul.check-list{
  display: table;
  width: 100%;
  padding: 8px 0; /* 8 padding T/B */
  margin: 0;
  list-style: none;
}

ul.check-list li{
  display: table-row;
  height: 48px; /* that's actually min-height for rows */
}
ul.check-list li > *{
  /* Align always to middle */
  height:48px;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color:  #333;
  box-sizing: border-box;
}

ul.check-list li > *:first-child{
  /* Whoever is the first child it needs 16px left space */
  padding: 6px 16px 0 16px;
  color: green;
}
ul.check-list li > *:last-child{
  /* Whoever is the last child it needs 16 right space */
  padding-right: 16px;
}

ul.check-list .check-list-link{
  /* Always left-align! Don't center icons */
  text-decoration: none !important; 
}

ul.check-list .check-list-icon{
  /* Always left-align! Don't center icons */
  width: 72px; /* 72-16 but we already use box-sizing */
}
ul.check-list .check-list-text{
  /*background: rgba(0,0,255,0.05);*/
}

ul.check-list .check-list-text p{
  padding: 0 !important;
  margin: 0 !important;  
}

/*
Special classes
*/
.border-bottom{
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.demo-card-image.mdl-card {
  width: 100%;
  height: 286px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.centertext {
    text-align:center;
}

.fullwidth {
    
    width:100%;

}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric, .mdl-data-table td {
     text-align: center; 
}

.bookie-review-logo {
    height:45px;
    width:300px;
    background:light-grey;
    margin:24px 0;
}

@media (max-width: 479px) {
    .mdl-cell {
        margin-top: 0 ;
    }
    .mdl-grid {
        padding: 0;
    }
}
