---
layout: default
---
<div class="page-content">

  <div class="mdl-grid">
  
    <div class="bookies mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
    <h5>Top Bookies</h5>

    <ul class="">
      {% for my_page in site.pages %}
      {% if my_page.title %}
        <li class="var_nav">
          <div class="link_bg"></div>
            <div class="link_title">
              <div class=icon> 
                <i class="icon-mobile-phone icon-2x"></i>
              </div>
            <a href="{{ my_page.url | prepend: site.baseurl }}"><span>{{ my_page.title }}</span></a>
          </div>
        </li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>
  <div class="bookies mdl-cell mdl-cell--10-col mdl-cell--4-col-phone">
  <div class="android-card-container mdl-grid">
            {% assign pages = site.pages | where: "tag", "featured" %}
    {% for page in pages %}
       
      <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="images/more-from-1.png">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">{{ page.title }}</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">{{ page.excerpt }}</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="" data-upgraded=",MaterialButton">
                   Make the switch
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
         
   {% endfor %}
    
  </div>
  {% include home-text.html %}
  
</div>


<!-- {% include posts.html %} -->
 
</div>
</div>