---
layout: default
---
<div class="mdl-cell mdl-cell--10-col mdl-cell--4-col-phone">

    {% include home-text.html %}

  <div class="android-card-container mdl-grid">
            {% assign pages = site.pages | where: "tag", "featured" %}
    {% for page in pages %}
       
      <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="images/more-from-1.png">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">{{ page.title }}</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">{{ page.excerpt }}</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="" data-upgraded=",MaterialButton">
                   Make the switch
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
         
   {% endfor %}
    
  </div>

</div>

<!-- {% include posts.html %} -->
 