<div class="row">
{% assign counter = '0' %}
{% for page in site.pages %}
{% if page.tag == 'featured' %}
    <div class="col s6 m4 l2">
          <div class="card hoverable">
            <div class="card-image">
            <img alt='{{ page.title }}' title='{{ page.title }}' src ="{{ site.baseurl }}/img/bookies/{{ page.permalink }}320x90.gif" />
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              Deposit <span class="bold">{{ page.deposit }}</span> and get a {{ page.bonusbet }} bonus bet!
            </div>
            <div class="card-action center-align">
              <a href="{{ page.url | prepend: site.baseurl }}">Read more!</a>
            </div>
          </div>
    </div>
    {% endif %}
{% endfor %}
    </div>