<footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What we do</h5>
        <p class="grey-text text-lighten-4">We provide you with the latest bookie offers and review each australian bookie website.</p>
      </div>
      <div class="col l6 s12">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <ul>
          <li><a class="white-text" href="">SLAHAS Blog</a></li>
          <li><a class="white-text" href="">Follow us on Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="#">SLAHAS</a>
    </div>
  </div>
</footer>
