  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
        {% for option in site.more_vert %}
        <li><a href="{{ option[1].link }}" class="mdl-menu__item">{{ option[1].name }}</a></li>
        {% endfor %}
      </ul>
    </div>
     <!--  <ol class="breadcrumb">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
          {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
          {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
          {% for i in (1..forLoopMaxInt) %}
          {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
          {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
          {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
          {% for breadcrumb_page in site.pages %}
          {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
          <li {% if i == forLoopMaxInt %}class="active"{% endif %}>
            {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
            <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
          </li>
          {% endif %}
          {% endfor %}
        {% endfor %}
      </ol> -->
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>
  </div>

