  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3>Suscribe to our mailing list</h3>
      <p>Sign up to our mailing list and have all the offers emailed to you directly.</p>
      <p>Simply enter your details into the form below and we will keep you up to date.</p>
  


<!-- Begin MailChimp Signup Form -->
<div class="row">
	<div id="mc_embed_signup">
	<form action="//github.us12.list-manage.com/subscribe/post?u=a9453e4841e5ba399b34e1818&amp;id=dff3ec1fad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="col s12 validate" target="_blank" novalidate>
	<div id="mc_embed_signup_scroll">
	<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	<div class="input-field col s12">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
	</div>
	<div class="input-field col s12">
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	<label for="mce-FNAME">First Name </label>
	</div>
	<div class="input-field col s12">
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
	<label for="mce-LNAME">Last Name </label>
	</div>

	<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit" id="mc-embedded-subscribe" name="subscribe">Submit
		<i class="material-icons right">send</i>
		</button>

	</div>

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a9453e4841e5ba399b34e1818_dff3ec1fad" tabindex="-1" value=""></div>
	<div class="clear">


	</div>
	</div>
	</form>
	</div>
</div>
</div>
<!--End mc_embed_signup-->


    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>