<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
      <thead>
      <tr>
      <th class="mdl-data-table__cell--non-numeric">DEPOSIT &amp; BET </th>
      <th class="mdl-data-table__cell--non-numeric">BONUS BET</th>
      <th class="mdl-data-table__cell--non-numeric">BET WITH</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td class="centertext">{{ page.deposit }}</td>
      <td>{{ page.bonusbet }}</td>
      <td>{{ page.betwith }}</td>
      </tr>
      </tbody>
      </table>