---
layout: default
---
<style>
.mdl-card > .mdl-card__title {
  background:
    url('{{ site.baseurl }}/img/bookies{{ page.permalink }}website_small.png') top left 15% no-repeat;
}
</style>
<div class="mdl-grid mdl-cell mdl-cell--10-col">
<div class="mdl-cell mdl-cell--5-col">
  <h3>{{ page.title }}</h3>



  <div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
  <div class="centertext">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Claim {{ page.bonusbet }} bonus bet now!
      </button>
  </div>
  </div>
  </div>
</div>

  <div class="mdl-cell mdl-cell--5-col">
      <div class="bookie-review-logo">
        <a href="/link/williamhill/" target="_blank"><!--<img src="https://dnu5embx6omws.cloudfront.net/Logos/williamhill/80x24.png"> --></a>
      </div>
      <h5>100% First Bet Match Up to {{ page.bonusbet }}</h5>
      Deposit 
      <strong>any</strong> amount and {{ page.title }} will match your first bet with a bonus bet up to {{ page.bonusbet }}.
      <hr>
      LIMITED TIME ONLY
      <br><a href="/link/williamhill/" target="_blank">Offers Claimed</a>
      <hr>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
      <thead>
      <tr>
      <th class="mdl-data-table__cell--non-numeric">DEPOSIT &amp; BET </th>
      <th class="mdl-data-table__cell--non-numeric">BONUS BET</th>
      <th class="mdl-data-table__cell--non-numeric">BET WITH</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td class="centertext">{{ page.deposit }}</td>
      <td>{{ page.bonusbet }}</td>
      <td>{{ page.betwith }}</td>
      </tr>
      </tbody>
      </table>
</div>

<div class="mdl-cell mdl-cell--5-col">
<h5>Hits</h5>
<ul class="check-list mdl-shadow--2dp">
  {% for item in page.goodpoints %}
    <li>
    <div class="check-list-icon">
      <i class="material-icons">verified_user</i>
    </div>
    <div class="check-list-text">
      <p>{{ item.point }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
</div>
<div class="mdl-cell mdl-cell--5-col">
  <h5>Misses</h5>
  <ul class="check-list mdl-shadow--2dp">
    <li>
      <div class="check-list-icon">
        <i class="material-icons">verified_user</i>
      </div>
      <div class="check-list-text">
        <p>Bad Point</p>
      </div>
    </li>
    <li>
      <div class="check-list-icon">
        <i class="material-icons">verified_user</i>
      </div>
      <div class="check-list-text">
        <p>Bad Point</p>
      </div>
    </li>
  </ul>
</div>

  <div class="mdl-cell mdl-cell--10-col">
        <p>{{ content }}</p>
      </div>
  <!-- <button class="mdl-button mdl-js-button mdl-button--raised">Button</button> -->
</div>